parameters:
	level: 8
	bootstrapFiles:
		- %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
		- %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
		- %rootDir%/../../../constants.php
	paths:
		- plugin.php
		- app
