<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		verbose="true"
		>
	<testsuites>
		<testsuite name="Unit tests">
			<file>tests/ProductDuplicateTest.php</file>
			<file>tests/ProductUpdatesTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>