.wc-history-price-admin__left {
	float: left;
	width: 66%;
}

.wc-history-price-admin__right {
	float: right;
	width: 33%;
}

@media screen and (max-width: 1024px) {
	.wc-history-price-admin__left {
		width: 80%;
	}
	.wc-history-price-admin__right {
		width: 20%;
	}
}

@media screen and (max-width: 782px) {
	.wc-history-price-admin__left,
	.wc-history-price-admin__right {
		float: none;
		width: 100%;
	}
}

.wc-history-price-hidden {
	display: none;
}

.wc-price-history-warning {
	color: #ff6600;
}

.wc-price-history-related-product-label {
	padding-left: 20px;
}

.wc-history-price-rating-stars {
}

a:hover .wc-history-price-rating-stars span {
	animation: jumping-stars 1s infinite;
	display: inline-block;
}

@keyframes jumping-stars {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(1);
	}

}

a:hover .wc-history-price-rating-stars span:nth-child(1) {
	transform: rotate(-50deg);
	position: relative;
	bottom: -3px;
}

a:hover .wc-history-price-rating-stars span:nth-child(2) {
	transform: rotate(-25deg);
	position: relative;
	bottom: 5px;
}

a:hover .wc-history-price-rating-stars span:nth-child(3) {
	transform: rotate(0deg);
	position: relative;
	bottom: 8px;
}

a:hover .wc-history-price-rating-stars span:nth-child(4) {
	transform: rotate(25deg);
	position: relative;
	bottom: 5px;
}

a:hover .wc-history-price-rating-stars span:nth-child(5) {
	transform: rotate(50deg);
	position: relative;
	bottom: -3px;
}

/* Add new CSS rule to change section titles color to red */
.wc-history-price-admin .form-table th {
    color: red;
}

