
.wc-price-history-wide-field {
	width: 90%;
}

.wc-price-history-old-history-custom-text-p {
	opacity: 1;
	height: 100%;
	overflow: hidden;
	transition: opacity 0.5s, height 0.5s;
}

.wc-price-history-old-history-custom-text-p.hidden-fade {
	opacity: 0;
	height: 0;
}

.wc-price-history-variable-product-placeholder-p {
	opacity: 1;
	height: 100%;
	overflow: hidden;
	transition: opacity 0.5s, height 0.5s;
}

.wc-price-history-variable-product-placeholder-p.hidden-fade {
	opacity: 0;
	height: 0;
}

.wc-history-price-admin__left {
	float: left;
	width: 66%;
}

.wc-history-price-admin__right {
	float: right;
	width: 33%;
}

@media screen and (max-width: 1024px) {
	.wc-history-price-admin__left {
		width: 80%;
	}
	.wc-history-price-admin__right {
		width: 20%;
	}

	.wc-price-history-hire-me-section {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 782px) {
	.wc-history-price-admin__left,
	.wc-history-price-admin__right {
		float: none;
		width: 100%;
	}
}

.wc-history-price-hidden {
	display: none;
}

.wc-price-history-warning {
	color: #ff6600;
}

.wc-price-history-related-product-label {
	padding-left: 20px;
}

.wc-history-price-rating-stars {
}

a:hover .wc-history-price-rating-stars span {
	animation: jumping-stars 1s infinite;
	display: inline-block;
}

@keyframes jumping-stars {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(1);
	}

}

a:hover .wc-history-price-rating-stars span:nth-child(1) {
	transform: rotate(-50deg);
	position: relative;
	bottom: -3px;
}

a:hover .wc-history-price-rating-stars span:nth-child(2) {
	transform: rotate(-25deg);
	position: relative;
	bottom: 5px;
}

a:hover .wc-history-price-rating-stars span:nth-child(3) {
	transform: rotate(0deg);
	position: relative;
	bottom: 8px;
}

a:hover .wc-history-price-rating-stars span:nth-child(4) {
	transform: rotate(25deg);
	position: relative;
	bottom: 5px;
}

a:hover .wc-history-price-rating-stars span:nth-child(5) {
	transform: rotate(50deg);
	position: relative;
	bottom: -3px;
}

#wc-price-history-clean-history {
	background-color: #d21818;
	color: #F0F0F4;
	border-color: #F0F0F4;
}

.wc-price-history-export-error {
	color: #d21818;
}

/* Educational tab */

ul.wc-tabs li.wc_price_history_educational_tab {

	background-color: #43ae122c;

	a::before {
		content: "\f321" !important;
	}
}

.wc-price-history-button-get-pro {
	width: 100%;
	padding: 8px;
	background-color: #2271b1;
	color: white;
	border: none;
	cursor: pointer;
}

#educational_tab {
	background-image: url(../images/educational.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.wc-price-history-educational-tab-content {
	padding: 15px;
	background-color: #ffffffd4;
	width: 50%;
	margin: 40px auto 20px 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.wc-price-history-hire-me-section {
	display: flex;
	align-items:flex-start;
	gap: 12px;
	position: relative;

	img.wc-price-history-hire-me-section__img {
		border-radius: 50%;
		margin-top: 10px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		display: block;
	}

	&::before {
		content: 'Hire me!';
		position: absolute;
		z-index: 1;
		background-color: #2271b1;
		color: white;
		font-size: 10px;
		font-weight: bold;
		padding: 2px 5px;
		border-radius: 5px;
		top: 80px;
		left: 52px;
		box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.603);
	}

	div > p:first-child {
		margin-top: 0;
	}
}